body{
   
    margin: 0px;
    text-align: center;
    background-repeat:repeat-x;
    background-color: rgb(232, 232, 232);
}

h1{
    color: black;
    margin: 0 auto; 
    font-family:'Times New Roman', Times, serif;
    font-size: 40px;
}

h2{
    font-family: 'Nunito', sans-serif;
}

h3{
    font-family: 'Nunito', sans-serif;
}

.header{
    padding-top: 80px;
    position: relative;
    font-family: 'Nunito', sans-serif;

}

.introduction{
    color: black;
    position: relative;
    padding-top: 6%;
}

p{
    font-size: 20px;
}

.menu-bar{
    background-color:transparent;
	border-radius:28px;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:25px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #080808;
    margin: 10px;

}
.menu-bar:hover {
	background-color:black;
    color: white;
}
.menu-bar:active {
	position:relative;
	top:1px;
}

.header-image{
    width: 100%;
    height: 550px;
}

.menu-position{
    position: relative;
    padding-top: 2%;
}

.middle-container{
    position: relative;
    margin-top:10%;
    width: 100%;
    height: 600px ;
    background-color: #282828;
}

#help{
    font-family: 'Times New Roman', Times, serif;
    color: white;
    position: absolute;
    padding: 20px;
    padding-top: 5%;
    font-size: 40px;
    padding-left: 40px;
}

.weapon{
    position:absolute;
    top:9%;
    left: 40%;
    align-items: center;
   
}
.bottom-container{
    position: relative;
    display: inline-block;
    margin-top:8%;
}
.report-pic{
    margin: 30px;
    width: 400px;
    height: 560px;
}

#report{
    padding-bottom: 50px;
    text-align: center;
}
#first-p{
    font-size: 30px;
}
.report-pic:hover{
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.contact{
    position: relative;
    margin-top:10%;
    background-color: #a2a2a2;
}
.logo{
    width: 40px;
    height: 40px;
    padding: 10px;
    margin: 15px 0px 15px 0px ;
}
.language{
    position: absolute;
    top: 20px;
    padding-left: 10px;
}
#motivation{
     font-family: 'Nunito', sans-serif;
     padding-top: 30px;
     margin-bottom: 70px;
}
.donaty{
    position: relative;
    background-color:transparent;
	border-radius:28px;
	border:1px solid #ffffff;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:25px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
    margin: 10px;
	border:1px solid #ffffff;    
}

.donaty:hover {
	background-color:rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
.donaty:active {
	position:relative;
	top:1px;
	text-shadow:0px 1px 0px #fffcfc;
}
.side-bar{
    position: relative;
    width: 350px;
    height: 1100px;
    padding-left: 20px;
    background-color: black;
}
   
#donaty-page{
    position: absolute;
    text-align: center;
    margin-top: 0px;
    padding: 70px;
    color: white;
    font-size: 40px;
    border: 0px;
    border-style:solid;
    border-bottom-width: 3px;
    right: 18%;
    margin-bottom: 70px;
}

#donation-options{
    position: absolute;
    margin-top: 60%;
    text-align: center;
    color: white;
    right: 25%;
}
.option{
    font-size: 30px;
    background-color:transparent;
	border-radius:28px;
	border:1px solid #fffcfc;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:25px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
    margin: 10px;
    margin-bottom: 40%;
    margin-top: 50%;

}
.option:hover{
    background-color: white;
    color: black;
}
#mono{
    position: absolute;
    align-items: center;
    left: 45%;
    top:10%;
    width: inherit;
}
#mono-link{
    position: relative;
    background-color:transparent;
	border-radius:28px;
	border:1px solid #000000;
	cursor:pointer;
	color:#030303;
	font-family:Arial;
	font-size:30px;
	padding:20px 35px;
	text-decoration:none;
	text-shadow:0px 1px 0px #000000;
    margin: 10px;
	border:1px solid #000000;
    top: 50px;    
}

#mono-link:hover {
	background-color:black;
    color: white;
}
#mono-link:active {
	position:relative;
	top:1px;
}
   
#paypal{
    position: absolute;
    align-items: center;
    left: 45%;
    top:10%;
    width: inherit;
    color:rgb(0, 0, 0);
}
#usdt{
    color:rgb(0, 0, 0);
}
#swift{
    color:rgb(0, 0, 0);

}